<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Detalle de pregunta</title>
</head>
<body>

    <h1>Detalle de pregunta</h1>

    <p>
        <strong>Encuesta:</strong>
        {{ encuesta.titulo }}
    </p>

    <p>
        <strong>Texto de la pregunta:</strong>
        {{ pregunta.texto }}
    </p>

    <p>
        <strong>Tipo de pregunta:</strong>
        {{ pregunta.tipo_pregunta }}
    </p>

    <p>
        <strong>Obligatoria:</strong>
        {% if pregunta.obligatoriedad %}
            Sí
        {% else %}
            No
        {% endif %}
    </p>

    <hr>

    <p>
        <a href="{% url 'editar_pregunta' encuesta.id pregunta.id %}">
            Editar pregunta
        </a>
    </p>

    <p>
        <a href="{% url 'eliminar_pregunta' encuesta.id pregunta.id %}">
            Eliminar pregunta
        </a>
    </p>

    <p>
        <a href="{% url 'detalle_encuesta' encuesta.id %}">
            Volver al detalle de la encuesta
        </a>
    </p>

    <p>
        <a href="{% url 'lista_encuestas' %}">
            Volver al listado de encuestas
        </a>
    </p>

    <hr>

    <h2>Opciones de respuesta</h2>

{% if pregunta.tipo_pregunta == 'multiple' %}

    <ul>
        {% for opcion in pregunta.opciones.all %}

            <li>
                {{ opcion.texto }}

                <a href="{% url 'detalle_opcion' encuesta.id pregunta.id opcion.id %}">
                    Ver detalle
                </a>

                <a href="{% url 'editar_opcion' encuesta.id pregunta.id opcion.id %}">
                Editar
            </a>

            

            <a href="{% url 'eliminar_opcion' encuesta.id pregunta.id opcion.id %}">
                Eliminar
            </a>

            </li>

        {% empty %}

            <li>Esta pregunta todavia no tiene opciones.</li>

        {% endfor %}
    </ul>

    <a href="{% url 'crear_opcion' encuesta.id pregunta.id %}">
        Añadir opcion
    </a>

{% else %}

    <p>
        Esta pregunta es de tipo texto, por eso no necesita opciones.
    </p>

{% endif %}

</body>
</html>