<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Eliminar opción</title>
</head>

<body>

    <h1>Eliminar opción</h1>

    <p>
        Vas a eliminar una opción de la pregunta:
    </p>

    <p>
        <strong>{{ pregunta.texto }}</strong>
    </p>

    <p>
        Opción:
        <strong>{{ opcion.texto }}</strong>
    </p>

    <p>
        ¿Seguro que quieres eliminar esta opción?
    </p>

    <form method="POST">

        {% csrf_token %}

        <button type="submit">
            Sí, eliminar opción
        </button>

    </form>

    <br>

    <a href="{% url 'detalle_opcion' encuesta.id pregunta.id opcion.id %}">
        Cancelar y volver al detalle de la opción
    </a>

    <br><br>

    <a href="{% url 'detalle_pregunta' encuesta.id pregunta.id %}">
        Volver al detalle de la pregunta
    </a>

</body>

</html>